<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <appSettings>
        <!-- Timer interval in minutes -->
        <add key="TimerIntervalMinutes" value="5" />
        <!-- Folder to monitor and clean -->
        <add key="TargetFolderPath" value="C:\TempToClean" />
        <!-- Log file path -->
        <add key="LogFilePath" value="C:\TempFolderRemover\log.txt" />
    </appSettings>
</configuration>